<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Continuous Integration Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF1A16841B28468F0044A2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6FD2611B0F7E4C005370BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF72FE671B0E2E0500B9B866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF72FE7C1B0E2E0500B9B866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF733BB31B0F758E009138A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFDEC6681B286A2F00E01262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
